@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #eae5e5;
	--font-sans: "Open Sans", sans-serif;
	--font-mono: var(--font-geist-mono);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #eae5e5;
		--foreground: #111111;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-sans);
}
